body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container1 {
    margin: 0px;
    padding: 0px;
    display: block;
}

.container2 {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 768px;
}

.container3 {
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 768px;
}

.mainContainer, .content {
    padding: 15px;
    background-color: white;
    height: 100%;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.logoutBTN {
    color: #fff;
    background-color: #007bff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    float: right;
}

.addAccountHeader, .searchHeader, .populationHeader {
    text-align: center;
    width: 100%;
    color: #fff;
    background-color: #007bff;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
}

#addAccount {
    text-decoration: none;
    color: #fff;
}

.populationHeader {
    font-weight: bold;
    margin-bottom: 5px;
}

.populationContent {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.populationRow {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.populationCategory {
    flex: 1;
}

.populationCount {
    margin-left: 10px;
}

.imgContainer {
    max-width: 250px; 
    margin: 0 auto;
}

.mainIMG {
    display: block;
    width: 100%;
    height: auto;
    border: 1px solid rgb(78, 78, 78);
    border-radius: 8px;
}

.infoContainer {
    margin-top: 50px;
    margin-bottom: 45px;
}

.info {
    color: rgb(2, 0, 146);
}

.studInfo {
    font-weight: bold;
}

.nameContainer, .idContainer {
    margin-bottom: 20px;
}

.instructorFeatures {
    width: 99%;
    margin: 0 auto; 
}

.features {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
}

#search {
    width: 100%;
}

.changeInfoContainer {
    width: 100%;
    text-align: center; 
}

.changeInfoContainer h3 {
    margin:10px;
}

.tab-button {
    border: none;
    background: none;
    cursor: pointer;
}

.tab-button.active {
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #d4d4d4;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 767px) {
    .container2, .container3 {
        padding: 0 10px;
    }

    .mainContainer, .content {
        padding: 10px;
    }
}
